*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}


/******************   Header   *****************/
div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

div.burger-menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}


.nav-secciones a{
    display: inline;
    padding: 5px;
    
    
}

.nav-registro {
    position: absolute;
    top: 5px;
    left: 950px;
    
}



header p{
    display: inline;
    font-size: 12px;
    padding: 5px;
    font-size: 15px;
}

h3{
    font-size: 24px;
}

header{
    background-color: #EAC926;
    
}

header img{
    width: 50%;
}
header form{
    display: inline;
    padding: 5px;
}


h3{
    color: #666666;
}


section.banner img{
    width: 100%;
    display: block;
}


/******************   main   ****************************/
main{
    width: 90%;
    margin: 0 auto;
}

.price{
    font-size: 18px;
    flex-direction: row;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

main section article h4{
    transition: all .5s ease-in;
   }
   
   
   
   main section article h4{
       margin-top:0;
       height: 0px;
       overflow: hidden;
   }
   
   main section article:hover h4{
       height: 50px;
       overflow: auto;
       margin-top: 20px;
   }


main section h3{
    margin: 20px 0px;
}

main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: #fff;
    margin: 10px 0px;
    padding: 15px;
}

main section article img{
    display: inline-block;
    width: 100%;
    
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: -15px;
}


/******************   Footer   *****************/
footer{
    background-color: #fff;
    color: #666;
    padding: 20px 5%;
}

footer article{
    margin: 20px 0px;
    display: table-cell;
    text-align-last: center;
}

footer i{
    color: #1259c3;
}

footer p{
    padding: 5px;
}

/* propio de los formularios */

.login input,
.register input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.login input[type='submit'],
.register input[type='submit']{
    color: #FFF;
    background-color: #0044AA;  
    border-radius: 5px;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

.register input[type='reset']{
    color: #FFF;
    background-color: #AA0044;
}

.register input[type='reset']:hover{
    background-color: #CC1155;
}

/*movile*/
@media (max-width: 361px){
    header p{
        display: block;
        padding: 5px;
        font-size: 15px;
    }
    
.nav-registro{
    display: none;
    position: relative;
    left: 0px;
}
.nav-secciones{
    display: none;
}
.barra-buscar{
    width: 100%;
}
footer article{
    display: block;
}
}
/*tablet*/
@media (max-width: 769px){
    
    main section article {
        display: inline-block;
        width: 45%;
        
    }
    .nav-registro{
        position: relative;
        left: 0px;
    }
    .barra-buscar{
        width: 100%;
    }

    footer article{
        display: block;
    }
  


}