<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Mercado-Liebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>

        <a href="/" >
            <img src="/images/logo-mercado-liebre.svg" class="logo"   > 
          </a>
    
        <form action="#" method="GET">
            <input type="search" placeholder="Buscar productos" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    
    <nav class="nav-secciones">
        <ul>
            <li><a href=".#ofertas">Ofertas</a></li>
            <li><a href=".#Tiendas oficiales">Tiendas oficiales</a></li>
            <li><a href=".#Vender">Vender</a></li>
            <li><a href=".#Ayuda">Ayuda</a></li>
        </ul>
    
    </nav>
    
    <nav class="nav-registro">
           
            <a href="/register">Creat tu cuenta</a>
            <i class="fa fa-user"></i>
            <a href="/login">Ingresa</a>
            <i class="fa fa-shopping-cart"></i>
            <a href="/Mis compras">Mis compras</a>
        
    </nav>
       
    </header>
    
    <main></main>
    <h1>login</h1>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con  tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
        </article>
        <div><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
    </footer>
</body>
</html>